{% extends 'base.html.twig' %}

{% set section_title = album.caminada.number ~ 'a Caminada (' ~ album.caminada.year ~ ')' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('album') }}
{% endblock %}

{% block body %}
    <div class="gallery-album">
        {% for key, photo in album.photos %}
            <div data-key="{{ key }}" class="image-container clickable thumbnail">
                <img src="{{ photo.path | imagine_filter('thumb_album') }}">
            </div>
        {% endfor %}

        {% set extra_slots = album.photos | length % 6 + 1 %}
        {% for i in 0..extra_slots %}
            <div class="image-container"></div>
        {% endfor %}

        <div class="back-button">
            <a href="{{ path('gallery') }}">
                <button class="btn btn-light">
                    <span class="oi oi-arrow-left"></span> Tornar
                </button>
            </a>
        </div>
    </div>

    <div id="album" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="album-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            {% for key, photo in album.photos %}
                                <div id="photo-{{ key }}" class="carousel-item{% if loop.first %} active{% endif %}">
                                    <img src="{{ static_url ~ photo.path }}" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>

                        {# TODO fix carousel controls
                        <div class="carousel-control-prev" href="#album-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </div>
                        <div class="carousel-control-next" href="#album-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Següent</span>
                        </div>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
