{% extends 'base.html.twig' %}

{% import 'utils.html.twig' as utils %}
{% import 'web/forms.html.twig' as forms %}

{% set section_title = 'Notícies' %}

{% block body %}
    {% include 'web/next.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ forms.admin('Afegir notícia', form_create) }}
    {% endif %}

    <div class="initial-posts">
        {{ include('web/articles.html.twig', {'posts': posts}) }}
    </div>

    <input type="hidden" id="num-posts" value="{{ count }}" />
    <div id="blog"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
