{% macro admin(title, form) %}
    {% set id = title|split(' ')|join %}
    <div class="card">
        <a data-toggle="collapse" href="#{{ id }}">
        <div class="card-header">
                {{ title }} <span class="caret"></span>
        </div>
        </a>
        <div id="{{ id }}" class="collapse">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endmacro %}
