{% extends 'base.html.twig' %}

{% import 'web/forms.html.twig' as forms %}

{% set section_title = 'Edicions Anteriors' %}

{% block body %}
    <div id="history"></div>

    {% if is_granted('ROLE_ADMIN') %}
        {{ forms.admin('Afegir caminada', form) }}

        {% for caminada in caminades|reverse %}
            {% if loop.index % 3 == 1 %}
                <div class="row">
            {% endif %}

            <div class="caminada col-md-4">
                <div class="text-right">
                    <button type="submit" data-toggle="modal" data-target="#delete-caminada-{{ caminada.number }}"
                            class="btn text-danger btn-xs">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </button>
                </div>

                <a href="{{ path('caminada', {'number': caminada.number}) }}">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">
                                {{ caminada.number }}a Caminada ({{ caminada.year }})
                            </strong>
                        </div>
                        <div class="card-body">
                            {{ caminada.path|join(' - ') }}
                        </div>
                    </div>
                </a>
            </div>

            {% if loop.index % 3 == 0 or (loop.last and loop.length % 3 != 0) %}
                </div>
            {% endif %}

            <div class="modal fade" id="delete-caminada-{{ caminada.number }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Borrar caminada</h4>
                        </div>
                        <div class="modal-body">
                            <p>Estàs segur que vols borrar la <strong>{{ caminada.number }}a caminada</strong>?</p>
                            <p><em>Aquesta acció no es pot desfer.</em></p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{{ path('delete_caminada', {'number': caminada.number}) }}"
                                  class="form-inline">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel·lar</button>
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if not is_granted('ROLE_ADMIN') %}
        {{ encore_entry_script_tags('history') }}
    {% endif %}
{% endblock %}